<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">






    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/Article-List.css">
    <link rel="stylesheet" type="text/css" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" type="text/css" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css"> -->



<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="#">Mï Chat</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">

                    </ul><span class="navbar-text actions"> <a href="#" class="login"></a><a class="btn btn-light action-button" data-toggle="modal" data-target="#exampleModal" role="button" href="#">Get Started!</a></span></div>
            </div>
        </nav>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Introducing Mï Chat!</h2>
                <p class="text-center">The worlds GREATEST messaging app!</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/Boy-with-Tablet-Illustration.jpg"></a>
                    <h3 class="name">Step One</h3>
                    <p class="description"> Enter your usersame...</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/Computer-Workspace-Illustration-1.jpg"></a>
                    <h3 class="name">Step Two</h3>
                    <p class="description">Join an exisitng chat or create a new one</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/Email-Marketing-Illustration-1.jpg"></a>
                <h3 class="name">Step Three</h3>
                <p class="description">Talk with whoever, whenever!</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <h6>Hello and Welcome to the Mï Chat!</h6>
          <h3>Create or join a chat below</h3>
          <div>
            <input #usernameBox id="search-box" (input)="handleUserName(usernameBox.value)" placeholder="Enter your username" />

            <hr>
          </div>
          <input #createRoomNameBox id="search-box" (input)="handleJoinRoomName(createRoomNameBox.value)" placeholder="Join the chat room Name" />
          <button (click) = "joinRoom()" type="button" data-dismiss="modal">Join</button>



          <input #joinRoomNameBox id="search-box" (input)="handleCreateRoomName(joinRoomNameBox.value)" placeholder="Create room by name " />
          <button  (click) = "createRoom()" type="button" data-dismiss="modal"> Create</button>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>


