textarea {
  position: fixed;
  width: calc(100%);
  right: 0;
  bottom: 0;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: none;
  padding: 20px  0px  20px  15px;
}
.submit {
  position: fixed;
  width: calc(10%);
  right: 10px;
  bottom: 10px;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: none;
  padding: 20px  0px  20px  15px;
}

.username {
  width: calc(10%);
  word-wrap: normal;
  border-radius: 50px;
  background-color: rgb(179, 125, 240);
}

.outside-box{
  border-radius: 25px;
  padding: 51px 80px 80px;
  opacity: 1.0;
  background-color: #dbd9db

}
